<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for message in messages%}
    <h5>{{message}}</h5>
        {%endfor%}
    <div>
        <h1>plz sign up to the site dear customer</h1> <br>
        <form  method="post" action="register">
            {%csrf_token%}
            <p>username:</p>
            <input type="text" name="username">
            <p>email:</p>
            <input type="email" name="email">
            <p>password:</p>
            <input type="password" name="password">
            <p>confirm password:</p>
            <input type="password" name="password2"><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>